*{
margin:0;
padding:0;
box-sizing: border-box;
}

h2{
  padding: 0 50px;
  margin-left: 0;
}

ul{
  margin-bottom; 30px;
}

a:link,visited{
  color:black;
}

a:hover,active{
  text-decoration:none;
}
iframe{
  margin-top: 20px;
}

.container {
  width:900px;
  margin:0 auto;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}
/* 
footer p {
  font-size: 16px;
} */

/*test
*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: beige;
  justify-content: start;
  background-color: antiquewhite;
  align-content: start;
  align-items: center;
  justify-items: center;
}

.team1 {
  justify-self: center;
}

.girl {
  grid-column: 1/2;
  grid-row: 4;
}

.girlprep {
  grid-column: 2/3;
  grid-row: 5
}
  
